/*
 *
 * Dark & light mode variables
 *
 */

 :root {
    --bg-color: #f1f1f1;
    --title-color: #363636;
    --text-color: #4a4a4a;
    --dark-text-color: #1b1b1b;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #292929;
      --title-color: #f0f0f0;
      --text-color: #e4e4e4;
      --dark-text-color: #363636;
    }
  }
  
  /*
   *
   * Colours
   *
   */
  
  body {
    background-color: var(--bg-color);
  }
  

  /* Add back in case ur not using tiles
  section .title,
  .card-content .content .title {
    color: var(--title-color);
  }
  
  .footer .content p strong {
    color: white;
  }*/
  
  .is-white {
    color: white !important;
  }

  /*
  *
  * Videowrapper
  *
  */

  .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}